body {
    font-family: 'Tajawal', sans-serif;
    font-size: 80px;
    color: #707070;
    background-color: #F4F4F4;
    height: auto;
    margin: 0;
    padding: 0;
}

.message {
    font-size: 48px;
    color: white;
    width: 100vw;
    text-align: center;
    position: fixed;
    margin-top: 28vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(.70, 0, .58, 1);
    opacity: 0;
}

.message2 {
    font-size: 48px;
    color: white;
    width: 100vw;
    text-align: center;
    position: fixed;
    margin-top: 24vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(.70, 0, .58, 1);
    opacity: 0;
}

.page {
    position: absolute;
    top: 20vh;
    left: 12vw;
    right: 12vw;
    bottom: 0;
}

.title {
    position: relative;
    font-size: 64px;
    margin-bottom: 10px;
}

.content-container {
    left: 0;
    right: 0;
    position: relative;
    font-size: 28px;
    word-wrap: break-word;
    margin-bottom: 100px;
}

#about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.content {
    word-wrap: break-word;
    width: 50vw;
    height: auto;
}

.profile-elem {
    background-image: url(../img/circle%20profile.png);
    background-size: cover;
    height: 400px;
    width: 400px;
    background-position: center;
    border-radius: 20px;
    margin-right: 40px;
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.hoaian-container {
    /*FIX MEEE*/
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hoaian {
    word-wrap: break-word;
}

.hoaian:hover {
    cursor: pointer;
}

#main-page-content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #F4F4F4;
    transition-duration: 1.6s;
    transition-timing-function: ease;
}



.social {
    position: relative;
    top: 0px;
    height: 44px;
    width: 44px;
    border-radius: 22px;
    margin: 10px;
    box-shadow: 0px 2px 8px #D3D3D3;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.social-color {
    width: calc(100% + .49px);
    position: absolute;
    top: 7px;
    left: 8px;
    height: 28px;
    background: linear-gradient(to bottom, #FFD800, #EB00FF);
    background-color: white;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    width: 63%;
    z-index: 1;
    opacity: 0;
}

.social-back {
    background-color: #707070;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 22px;
    z-index: 0;
}

.social:hover {
    cursor: pointer;
    top: -4px;
    box-shadow: 0px 6px 8px #D3D3D3;
}

.social:active {
    transition-duration: 0.05s;
    top: 0px;
    box-shadow: 0px 1px 4px #D3D3D3;
}

.social-mask {
    z-index: 2;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-size: 44px;
    background-position: center;


}

#github-mask {
    background-image: url(../img/github-mask-w.png);
}

#linkedin-mask {
    background-image: url(../img/linkedin-mask-w.png);
}

#email-mask {
    background-image: url(../img/email-mask-w.png);
}

#social-bar {
    flex-direction: row;
    display: flex;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}


#social-bar-extra {
    flex-direction: row;
    display: flex;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}



#projects-container {
    margin-top: 40px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 300px;
    height: 300px;
    margin: 20px;
    position: relative;
}

.coming-soon {

}

.card {
    border-radius: 10px;
    position: absolute;
    box-shadow: 0px 2px 8px #D3D3D3;
    background-color: white;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.card:hover {
    box-shadow: 0px 24px 24px #D3D3D3;
    top: -24px;
    bottom: 24px;
    cursor: pointer;
}

.card:active {
    transition-duration: 0.05s;
    transition-timing-function: ease-out;
    box-shadow: 0px 1px 4px #D3D3D3;
    top: -16px;
    bottom: 16px;
    opacity: 0.8;
}

.card-image {
    z-index: 2;
    position: relative;
    background-color: #707070;
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card-text {
    padding: 32px;
    font-size: 28px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    width: auto;
}

#card-image1 {
    background-image: url(../img/project-1.jpg);
}

#card-image2 {
    background-image: url(../img/project-2.jpg);
}

#card-image3 {
    background-image: url(../img/project-3.jpg);
}

#card-image4 {
    background-image: url(../img/project-4.jpg);
    background-position: center;
}

#card-image5 {
    background-image: url(../img/project-5.jpg);
}

#card-image6 {
    background-image: url(../img/project-6.jpg);
}

#burger {
    -webkit-backface-visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 32px;
    right: 32px;
}

.grid {
    grid-template-areas:
        "thats_it";
    display: grid;
    justify-items: center;
    align-items: center;
}

.grid-child {
    grid-area: thats_it;
}

.button-background {
    background: white;
    height: 44px;
    width: 44px;
    position: absolute;
    z-index: 0;
    border-radius: 22px;
    opacity: 0;
}

.burger-inactive {
    top: 32px;
    right: 32px;
    height: 44px;
    width: 44px;
    text-align: center;
    border-radius: 22px;
    z-index: 1;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.burger-inactive:hover {
    cursor: pointer;
    color: white;
    top: 28px;
}

.burger-inactive:hover > .background {
    box-shadow: 0px 8px 8px #E5E5E5;
}


.burger-inactive:active {
    transition-duration: 0.05s;
    top: 32px;
    background: none;
    color: #707070;
}

.burger-inactive:active > .background {
    box-shadow: 0px 1px 4px #D3D3D3;
    background: linear-gradient(#FFD800, #EB00FF);
}

.burger-inactive:active > .bar {
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}

.burger-inactive:active > .button-background {
    /*background:  linear-gradient(#FFD800, #EB00FF);*/
    opacity: 0;
}

@keyframes unpress {
    0% {
        filter: drop-shadow( 2px 2px 3px rgba(0, 0, 0, 0.2) inset );
    }
    50% {
        filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0.1) inset );
    }
    50% {
        filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0) inset );
    }
    51% {
        filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0) );
    }
    51% {
        filter: drop-shadow( 0px 0px 0px rgba(0, 0, 0, 0.1) );
    }

    100% {
        filter: drop-shadow( 0px 3px 6px rgba(0, 0, 0, 0.1) );
    }
}


.burger-inactive + #nav-container {

    /*animation: unpress 1.2s;*/

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.burger-inactive:active + #nav-container {
    transition-duration: 0s;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.burger-active + #nav-container {
}



@keyframes colorize {
    100% {background: linear-gradient(#FFD800, #EB00FF);}
}
@keyframes decolorize {
    100% {background: none; background-color: white;}
}

#bars {
    z-index: 3;
    height: 100%;
    width: 100%;
    transition-timing-function: ease-out;
    transition-duration: 0.25s;
    will-change: transform, opacity;
}




.bar {
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #707070;
    position: absolute;
    border-radius: 2px;
    z-index: 3;
    /*
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    */
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    will-change: transform opacity;
}
.burger-inactive .bar {
    width: 90%;
}

.bar-back {
    background: linear-gradient(to left, #FFD800, #EB00FF);
    position: absolute;
    width: 26px;
    height: 4px;
    border-radius: 2px;
    right: 9px;
    z-index: 2.9;
    /*
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    */
    transition-duration: 0.4s;
    transition-timing-function: ease;
}


.burger-inactive #bar-back1 {
    transform: translateY(12px);
}

.burger-inactive #bar-back2 {
    transform: translateY(20px);
}

.burger-inactive #bar-back3 {
    transform: translateY(28px);
}


.burger-inactive > #bars {
    opacity: 1;
}

.burger-inactive:hover .bar {
    width: 0px;
}

.burger-inactive:active .bar {
    transition-duration: 0s;
    width: 26px;
    background-color: #707070;
}


#bars:hover {
    cursor: pointer;
}

.burger-active .button-background {
    background: linear-gradient(#FFD800, #EB00FF);
    opacity: 0;

}

.burger-active > #bars:hover + .button-background {

    opacity: 0;

}

.burger-active > #bars + .button-background {

    transition-duration: 0.1s;
    transition-timing-function: ease;

}


.burger-active .bar {
    opacity: 1;
    width: 100%;
    background-color: #707070;
    margin-top: 0px;
    margin-bottom: 0px;

}


.burger-active #bar-back1 {
    transform: translateY(20px) rotate(-45deg);
}

.burger-active #bar-back2 {
    transform: translateY(20px) translateX(10px) scale(0.1);
    opacity: 0;

}


.burger-active #bar-back3 {
    transform: translateY(20px) rotate(45deg);
}



.burger-active {
    top: 32px;
    right: 32px;
    height: 44px;
    width: 44px;
    text-align: center;
    border-radius: 22px;
    z-index: 1;
    transition-timing-function: ease-out;
    transition-duration: 5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.background {
    z-index: -1;
    position: absolute;
    box-shadow: 0px 2px 8px #D3D3D3;
    background-color: white;
}


.burger-inactive > .background {
    height: 44px;
    width: 44px;
    border-radius: 22px;
    right: 0px;
    top: 0px;
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
}


.burger-active > .background {
    /*FIX MEEEEEEE*/
    height: 2800px;
    width: 2800px;
    top: -1332px;
    right: -1332px;
    border-radius: 1800px;
    transition-timing-function: ease-out;
    transition-duration: 0.8s;

}


#nav-container {
    position: fixed;
    z-index: 8;
    background-color: white;
    transition: box-shadow 0s, width 0.8s, height 0.8s, top 0.8s, right 0.8s;
    transition-timing-function: ease-out;
    overflow: hidden;
    transform: translate3d(0);
    will-change: transform opacity;
    border-radius: 1400px;
    /*
    box-shadow: 1px 1px 4px #D3D3D3 inset;
    */
    /*
    top: -5vh;
    right: 0px;
    width: 100vw;
    height: 105vh;
    */
}

/*
.nav-closed::after {

    content: "";
    border-radius: 1400px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;

}
*/

.nav-opened {

    top: -1300px;
    right: -1300px;
    width: 2750px;
    height: 2750px;


    /*clip-path: circle(160vh at 95vw 15vh);*/
}

.nav-closed {

    top: 30px;
    right: 30px;
    width: 49px;
    height: 49px;

    /*clip-path: circle(60px at 95vw 15vh);*/
}

circle {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

#nav-container-extra {
    position: fixed;
    z-index: 9;
    transition-duration: 0.8s;
    transition-timing-function: ease-in;
}

.nav-opened-extra {
    top: -1300px;
    right: -1300px;
    width: 2800px;
    height: 2800px;
    border-radius: 1400px;
    clip-path: circle(1400px);
}

.nav-closed-extra {
    top: 32px;
    right: 32px;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    clip-path: circle(22px);
}

.nav-element-extra {
    cursor: default;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    font-size: 64px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.nav-element:hover {
    cursor: pointer;
}

#nav-bar-extra {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 30%;
    z-index: 9;
    top: 0;
    bottom: 0;
}

.nav-closed-extra #nav-bar-extra {
    opacity: 1
}

.nav-opened-extra #nav-bar-extra {
    opacity: 0;
}

#nav-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
    z-index: 9;
    top: 0;
    bottom: 0;
}

.nav-bar-opened {
  left: 32%;
}

.nav-bar-closed {
  left: 70%;
  opacity: 0;
}

/*
.burger-inactive #nav-bar {
    clip-path: circle(22px at 22px 22px);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.burger-active #nav-bar {
    clip-path: circle(1350px at 1400px 1400px);
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}
*/

/*

.burger-inactive #nav-bar {
    clip-path: circle(100px at center center);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.burger-active #nav-bar {
    clip-path: circle(1350px at center center);
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}


.burger-inactive #nav-container {
    clip-path: circle(100px at center center);
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

.burger-active #nav-container {
    clip-path: circle(1350px at center center);
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}
*/


.nav-element {
    cursor: default;
    z-index: 1;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
    font-size: 64px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.nav-element-background {
    height: 15%;
    width: 0%;
    background: linear-gradient(to left, #FFD800, #EB00FF);
    position: absolute;
    bottom: 20px;
    opacity: .5;
    z-index: -1;
    border-radius: 3px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.card-background {
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #FFD800, #EB00FF);
    position: absolute;
    bottom: 84px;
    opacity: 0;
    z-index: -1;
}

.black-page-content {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 0.5;
}

.closed > .black-page-content {
    transition-duration: 2.4s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
    background-color: #F4F4F4;
}

.opened > .black-page-content {
    transition-duration: 0s;
    background-color: #707070;
}

.container-container {
    position: fixed;
    top: -400px;
    bottom: -400px;
    left: 0px;
    right: 0px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


#top {
}


#black-page {
    overflow: hidden;
    opacity: 0.9999999;
    border-radius: 1000px;
    transition-duration: 1.2s;
    transition-timing-function: ease;
}


.closed {
    height: 1px;
    width: 1px;
}


.opened {
    height: 2000px;
    width: 2000px;
}

#particles-js {
    z-index: -10;
    height: 100vh;
    width: 100vw;
    position: absolute;
    transition-duration: 1.6s;
    transition-timing-function: cubic-bezier(.70, 0, .58, 1);
}

#intro {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #1c1c1c;
    z-index: -1;
}


#container {
    position: absolute;
    transition-duration: 1.6s;
    transition-timing-function: ease;
    background-color: #F4F4F4;
    overflow: hidden;
    opacity: 0.9999999;
}

.black-text {
    color: white;
}

.selected {
    position: absolute;
    display: initial;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.unselected {
    display: none;
}

.full {
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    background-color: none;
    color: #707070;
    text-decoration: none;
}
